
<div class="panel panel-primary ">
  <div class="panel-heading">
    FORMATION
  </div>
  <div class="panel-body" >
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a [routerLink]="['/accueil']" >ACCUEIL</a></li>
      <li role="presentation"><a [routerLink]="['/invite']" >INVITES</a></li>
      <li role="presentation"><a  [routerLink]="['/etudiant']">ETUDIANTS</a></li>
      <li role="presentation"><a  [routerLink]="['/enseignant']">ENSEIGNANTS</a></li>
      <li role="presentation"><a  [routerLink]="['/admin']">ADMINS</a></li>
      <li role="presentation"><a  [routerLink]="['/employe']">EMPLOYES</a></li>
      <li role="presentation"><a  [routerLink]="['/formation']">FORMATIONS</a></li>
    </ul>
  </div>
</div>

