<div class="container">
<div class="row col-md-9">
  <div>
    <div>

    </div>
    <button pButton type="text"  icon="fa-check" label="aller a accueil" class="ui-button-danger" [routerLink]="['/accueil']"></button>
  </div>
</div>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-danger">{{errorMessage}}</div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-9">
      <p-dataTable [value]="invites" selectionMode="single" [(selection)]="selectedInvite" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" expandableRows="true">
        <p-header>LES INVITES </p-header>
        <p-column expander="true" styleClass="col-icon"></p-column>
        <p-column field="id" header="ID" [sortable]="true"></p-column>
        <p-column field="titre" header="TITRE" [sortable]="true"></p-column>
        <p-column field="nom" header="NOM" [sortable]="true"></p-column>
        <p-column field="prenom" header="PRENOM" [sortable]="true"></p-column>
        <p-column field="cni" header="CNI" [sortable]="true"></p-column>
        <p-column field="raison" header="RAISON" [sortable]="true"></p-column>
        <p-column field="profil" header="PROFIL" [sortable]="true"></p-column>-->
        <p-column field="societe" header="SOCIETE" [sortable]="true"></p-column>
        <p-column field="statut" header="STATUT" [sortable]="true"></p-column>

        <template let-invite pTemplate="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2" style="text-align:center">
                <i class="fa fa-search"  style="cursor:pointer;float:left;margin-top:40px"></i>
                <img src="">
              </div>
              <div class="ui-grid-col-6">
                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3">codePostal: </div>
                    <div class="ui-grid-col-10">{{invite.adresse.codepostal}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2 ">Quartier: </div>
                    <div class="ui-grid-col-10">{{invite.adresse.quartier}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2 ">Ville: </div>
                    <div class="ui-grid-col-10">{{invite.adresse.ville}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2 ">E-Mail: </div>
                    <div class="ui-grid-col-10">{{invite.adresse.email}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Ajouter"></button></div></p-footer>
      </p-dataTable>

    </div>
  </div>
<div class="container">

</div>
  <p-dialog header="Invite Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">
      <div class="ui-grid-row" *ngIf="invite.id != null">
        <div class="ui-grid-col-4"><label for="id">ID</label></div>
        <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="invite.id" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="titre">TITRE</label></div>
        <div class="ui-grid-col-8"><input pInputText id="titre" [(ngModel)]="invite.titre" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="nom">NOM</label></div>
        <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="invite.nom" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="prenom">PRENOM</label></div>
        <div class="ui-grid-col-8"><input pInputText id="prenom" [(ngModel)]="invite.prenom"/></div>
      </div><div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="cni">CNI</label></div>
        <div class="ui-grid-col-8"><input pInputText id="cni" [(ngModel)]="invite.cni"/></div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="delete()" label="Supprimer"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>


